cachetools==5.3.2
celery==5.3.6
certifi==2024.2.2
channels==4.0.0
charset-normalizer==3.3.2
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.5
daphne==4.1.0
Django==5.0.1
django-celery-results==2.5.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
google-auth==2.27.0
googlemaps==4.10.0
pillow==10.2.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.1.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
razorpay==1.4.1
redis==5.0.1
requests==2.31.0
tzdata==2023.4
urllib3==2.2.0
