.auth {

  .vanta { 
    min-height: 3000px;
    color: white;
    padding: 20px;
    font-size: 24px;
  }
  .vantojsdiv{
    padding-top: 4rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    // padding: 2rem;
    gap: 10px;

    background-color: #ffffff;
    color: black;
    padding-top: 4%;
    // padding: 2.5%;
    max-width: 400px;
    border-radius: 20px;
    padding: 2rem;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @media screen and (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media all and (min-width:0px) and (max-width: 480px) {
      margin: 1.5rem;
    }
  }


  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .form button {
    align-self: flex-end;
  }

  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }

  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;

    .input {
      margin-left: 10px;
      border-radius: 10px;
      border: none;
      width: 85%;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

    &:focus-within {
      border: 1.5px solid #2d79f3;
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
    justify-content: space-between;

    > div > label {
      font-size: 14px;
      color: black;
      font-weight: 400;
    }
  }

  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }

  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: #252727;
    }
  }

  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }

  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      border: 1px solid #2d79f3;
    }
  }
}
