.user-home-div {
    .bg-quote {
        background: url(../../public/assets/userHome/bus-stop345.jpg) center center no-repeat;
        background-attachment: fixed;
    }
}

.user-header-div {
    background: rgb(104,220,255);
    background: linear-gradient(90deg, rgba(104,220,255,0.23021708683473385) 8%, rgba(177,239,250,0.19380252100840334) 92%);

    // background: rgb(224, 229, 230);
    // background: linear-gradient(90deg, rgba(248,254,255,0) 2%, rgba(248,254,255,0.3638305322128851) 53%, rgba(248,254,255,0) 99%);
}

.bus-list-card{
    section.card {
        position: relative;
        width: 330px;
        height: 100px;
        background-color: #474dc3;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px;
        transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .card svg {
        fill: #333;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border-radius: 3px;
      }
      .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px #000000;
        background-color: #474dc3;
        color: #ffffff;
      }
      
      .card__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: #474dc3;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      
      .card:hover .card__content {
        transform: rotateX(0deg);
      }
      
      .card__title {
        margin: 0;
        padding-left: 5px;
        font-size: 24px;
        color: var(--white);
        font-weight: 700;
      }
      
      .card:hover svg {
        scale: 0;
      }
      
      .card__description {
        margin: 10px 0 0;
        font-size: 14px;
        color: #ffffff;
        line-height: 1.4;
      }
      /* Commands to change the shadows in dark mode
      @media (prefers-color-scheme: dark) {
        .card:hover {
        box-shadow: 0 8px 16px #000000;
        }
      }*/
      
}


.buy-bus-ticket-button{
    .btn {
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
      }
      
      .btn {
        width: 75px;
        height: 35px;
        border-radius: 50px;
        background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
        box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 16px;
        color: white;
      }
      
      .btn:hover {
        transform: translateY(3px);
        box-shadow: none;
      }
      
      .btn:active {
        opacity: 0.5;
      }
}