.user-home-div {
    .bg-quote {
        background: url(../../public/assets/userHome/bus-stop345.jpg) center center no-repeat;
        background-attachment: fixed;
    }
}

.user-header-div {
    background: rgb(248,254,255);
background: linear-gradient(90deg, rgba(248,254,255,0) 2%, rgba(248,254,255,0.3638305322128851) 53%, rgba(248,254,255,0) 99%);
}