.user-home-div {
    .bg-quote {
        background: url(../../public/assets/userHome/bus-stop345.jpg) center center no-repeat;
        background-attachment: fixed;
    }
}

.user-header-div {
    background: rgb(104,220,255);
    background: linear-gradient(90deg, rgba(104,220,255,0.23021708683473385) 8%, rgba(177,239,250,0.19380252100840334) 92%);

    // background: rgb(224, 229, 230);
    // background: linear-gradient(90deg, rgba(248,254,255,0) 2%, rgba(248,254,255,0.3638305322128851) 53%, rgba(248,254,255,0) 99%);
}